/* Part I */
body.home #archive .paper:nth-of-type(1) .script-note {
  font-size: clamp(4rem, 12vw, 12rem);
  left: 5%;
  top: -10%;
  transform: rotate(-10deg);
  width: 90%;
  text-align: center;
}

/* Part II */
body.home #archive .paper:nth-of-type(2) .script-note {
  font-size: clamp(4rem, 10vw, 12rem);
  right: 5%;
  left: auto;
  top: 30%;
  transform: rotate(2deg);
  text-align: right;
}

/* Part III */
body.home #archive .paper:nth-of-type(3) .script-note {
  font-size: clamp(4rem, 10vw, 10rem);
  left: 5%;
  top: 20%;
  transform: rotate(-15deg);
}

@media (max-width: 1024px) {
  body.home #archive .script-note {
    font-size: clamp(3rem, 15vw, 6rem) !important;
    position: relative;
    display: block;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    text-align: center !important;
    margin-bottom: 20px;
    transform: none !important;
  }
}
